@import "react-medium-image-zoom/dist/styles.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: rgb(244, 244, 244);
}

.dark body {
  background-color: rgb(16, 16, 16);
}

/* This code positions the pagination module and styles it to our liking */

.swiper {
  padding-bottom: 60px !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.2;
  background-color: #000000;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #4798ad;
  opacity: 1;
}

.dark .swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.2;
  background-color: #ffffff;
}

.dark .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #4798ad;
  opacity: 1;
}

/* This makes all sliders follow the height of the biggest slider */

.swiper-slide {
  height: auto !important;
}

/* This makes the background blurred behind the zoomed in image */

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
 }

 /* This rounds the corners on the zoomed in image */

[data-rmiz-modal-img] {
border-radius: 1rem;
}