@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: rgb(244, 244, 244);
}

.dark body {
  background-color: rgb(16, 16, 16);
}

.swiper {
  padding-bottom: 60px !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.2;
  background-color: #000000;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #2563eb;
  opacity: 1;
}

.dark .swiper-pagination > .swiper-pagination-bullet {
  opacity: 0.2;
  background-color: #FFFFFF;
}

.dark .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #2563eb;
  opacity: 1;
}